<div class="row featurette">

    <div class="col-md-7">

        <h2 class="headingabout">We live to serve you!<span class="text-muted">Promise.</span></h2>

        <p class="about">In our very beginning we started just with a few dishes and a little restaurant. After many years of experience and many professional cooks from all over the world we can proudly say, that we are the best and greatest restaurant situated in the
            province of Padova.</p>

        <br>

        <p class="about">And as long as we can - dear guests - serve you many delicious varieties of italian dishes, we will of course bring them with love to your table.
        </p>
        <p class="about">PS: we also deliver every dish to your adress in Padova.</p>

    </div>

    <div class="col-md-5">

        <img class="featurette-image img-responsive center-block" src="https://cdn.pixabay.com/photo/2016/01/08/16/12/italy-1128546__340.jpg" alt="Generic placeholder image">

    </div>

</div>
<br>