<h1 class="heading1 text-center">Our specialties</h1>
<div class="row row-cols-3">
    <div *ngFor="let val of dishes; index as i">
        <div class="card" style="width: 18rem;">
            <img src="{{val.pic}}" class="card-img-top" alt="{{val.name}}">
            <div class="card-body">
                <h5 class="card-title">{{val.name}}</h5>
                <p class="card-text">{{val.description}}</p>
                <p class="card-text">{{val.price}} €</p>

                <div *ngIf="val.availability; else elseBlock">
                    <a class="btn btn-outline-primary" routerLink="/menu/{{i}}">Details</a>
                    <a class="btn btn-outline-success" (click)="addToCart(val)">Order</a>
                </div>
                <ng-template #elseBlock>Sorry, this dish is not available at the moment!</ng-template>
            </div>
        </div>
    </div>
</div>