<h1 class="heading1 text-center">Our specialties</h1>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm1">
    <div *ngFor="let val of dishes; index as i">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="{{val.pic}}" class="card-img-top" alt="{{val.name}}">
            <div class="card-body">
                <h5 class="card-title">{{val.name}}</h5>
                <p class="card-text">{{val.description}}</p>
                <p class="card-text">{{val.price}} €</p>

                <div *ngIf="val.availability ">
                    <a class="btn btn-outline-primary" routerLink="/menu/{{i}}">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>