<h1 class="text-center">Your order</h1>

<div *ngFor="let val of cart">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{val.pic}}" class="img-fluid rounded-start" alt="{{val.name}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{val.name}}</h5>
                    <p class="card-text"><small class="text-muted">{{val.price}} €</small></p>
                </div>
            </div>
        </div>
    </div>

</div>
<hr>
<form>
    <div class="row g-3">
        <h1 class="">Order Form</h1>
        <div class="col">
            <input type="text" class="form-control" placeholder="adress of delivery" aria-label="adress">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Fullname" aria-label="fullname">
            <br>
            <button class="btn btn-outline-success text-center">Send</button>
        </div>
    </div>
</form>