.container {
    position: relative;
    text-align: center;
    /* color: white; */
}

#ristorante {
    text-align: center;
}

.heading1 {
    font-family: 'Zeyada', cursive;
    color: black;
    background-color: yellow;
}

.heading2 {
    font-family: 'Zeyada', cursive;
    color: black;
}

.heading4 {
    font-family: 'Zeyada', cursive;
    color: yellow;
}

.button {
    text-align: center;
    gap: 5px;
    display: flex;
    justify-content: center;
    padding: 100px;
}