<div class="card text-bg-dark">
    <img src="https://cdn.pixabay.com/photo/2018/09/10/23/25/restaurant-3668311_960_720.jpg" class="card-img" alt="restaurant">
    <div class="card-img-overlay">
        <h1 class="heading1 text-center">Ristorante Il Gambero Rosso</h1><br>
        <p class="card-text text-center"></p>
        <h4 class="heading4 text-center">Delivering for more than 18 years!</h4><br>
        <div class="position-relative">
            <div class="position-absolute bottom-0 start-50 translate-middle-x"></div>

            <div class="button">
                <button class="btn btn-success">Order</button>
                <br>
                <button class="btn btn-success">Book a table</button>
            </div>
        </div>
    </div>
</div>
<br>
<h1 class="heading2 text-center">Ristorante Il Gambero Rosso</h1>
<div class="card">
    <img src="https://cdn.pixabay.com/photo/2019/07/11/12/16/pizza-4330598__340.jpg" class="card-img" alt="pizza">
    <div class="card-body">
        <h5 class="card">Homemade italian food from northern Italy</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum aspernatur veniam recusandae delectus iusto tempore neque unde! Fuga perspiciatis ab optio repellendus tempore sapiente, expedita deserunt quasi culpa illum? Nam, beatae aut! Nulla
            quaerat ipsum unde earum pariatur natus assumenda?</p>
        <hr>
    </div>

    <div class="choose">
        <h1 class="heading2 text-center">Why choose us?</h1>
        <h5 class="">Homemade italian food from northern Italy</h5>
    </div>