.container {
    position: relative;
    text-align: center;
    /* color: white; */
}

.heading1 {
    font-family: 'Zeyada', cursive;
    color: yellow;
    /* background-color: yellow; */
}

.heading2 {
    font-family: 'Zeyada', cursive;
    color: black;
}

.heading4 {
    font-family: 'Zeyada', cursive;
    color: yellow;
}

.button {
    text-align: center;
    gap: 5px;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 600px;
}

.choose {
    background-color: rgb(17, 215, 237);
}

.container {
    background-color: yellow;
    padding: auto;
}