<div class="card text-bg-dark">
    <img src="https://cdn.pixabay.com/photo/2018/09/10/23/25/restaurant-3668311_960_720.jpg" class="card-img" alt="restaurant">
    <div class="card-img-overlay">
        <h1 class="heading1 text-center">Ristorante Il Gambero Rosso</h1><br>
        <p class="card-text text-center"></p>
        <h4 class="heading4 text-center">Delivering for more than 18 years!</h4><br>
        <div class="position-relative">
            <div class="position-absolute bottom-0 start-50 translate-middle-x"></div>

            <div class="button">
                <button class="btn btn-success">Our Menu</button>
                <br>
                <button class="btn btn-success">Book a table</button>
            </div>
        </div>
    </div>
</div>
<br>
<h1 class="heading2 text-center">Ristorante Il Gambero Rosso</h1>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="location">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Location</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

<div class="choose">
    <h1 class="heading2 text-center">Why choose us?</h1>
    <h5 class="text-center">Homemade organic italian food</h5>
</div>

<div class="container">
    <p>We are very proud that all our meals are produced from local organic products and ingredients.</p>
    <p>As you can taste, we cook them with love and tradional methods of the region. We change our menu on a monthly bases. It is our mission to bring you the best food according - of course - to the season.
    </p>
</div>