<div class="card text-bg-dark">
    <img src="https://cdn.pixabay.com/photo/2018/09/10/23/25/restaurant-3668311_960_720.jpg" class="card-img" alt="restaurant">
    <div class="card-img-overlay">
        <h1 class="heading1 text-center">Ristorante Il Gambero Rosso</h1><br>
        <p class="card-text text-center"></p>
        <h4 class="heading4 text-center">Delivering for more than 18 years!</h4><br>
        <div class="position-relative">
            <div class="position-absolute bottom-0 start-50 translate-middle-x"></div>

            <div class="button">
                <button class="btn btn-success">Order</button>
                <br>
                <button class="btn btn-success">Book a table</button>
            </div>
        </div>
    </div>
</div>